.container{
    width: 100%;

    .category-side{
        width: 30%;
        border: 1px solid #ccc;
    }

    .transaction-side{
        width: 65%;
        border: 1px solid #ccc;
        h2{
            text-align: center;
        }

        
    }
}